:root{
  --text-light :white;
  --text-dark : black;
  --color : green;
}
/* *{
  border: 1px solid black;
} */
.namebar{
  display : flex;
  justify-content: left;
  align-items: center;
  color: var(--text-light);
  background-color: rgb(65, 65, 181);
  height: 40px ;
}

.banner{
  display : grid;
  align-items: center;
  justify-content:left;
  color: var(--text-light);
  background-image: url('../../public/cleanpc.jpg');
  background-position: center;
  background-size: 100% ;
  background-color: rgb(65, 65, 181);
  height: 300px ;
}

.banner:hover{
  /* filter: blur(1px) !important; */
  zoom: 1.1;
}

.card:hover{
  border-top: 5px solid rgb(65, 65, 181);
  border-bottom: 5px solid #303030;
  border-left: 5px solid #303030;
  border-right: 5px solid #303030;
  content: "";
  transition-duration: 0.3s;
  cursor: pointer;
}

.row:hover > .card:not(:hover) {
  filter: blur(1px) !important;
  transition-duration: 1s;
}